@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

ul,li{
  margin-left: 0;
  padding: 0;
}

.flex{
  display:flex;
  justify-content: space-between;
}


.body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.bodymain{
  display:flex;
  justify-content: space-between;
}

.main_right{
  width: 300px;
  margin-left: 30px;
  background:#61a34279;
}



/* LIST RIGHT */

.main_right--lists{
  list-style:none;
}

.main_right--lists li{
  background:rgba(255, 255, 255, 0.37);
  margin-top: 5px;
}

.main_right--listsitems{
  text-align: center;
  line-height: 30px;
  flex:1;
}

.main_right--listscontent{
  text-align: center;
  line-height: 30px;
  background:rgba(121, 116, 168, 0.548);
  flex:3;
}

/*  */

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  /* perspective: 1000px; */
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 30px;
  width: 33px;
  margin: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width:740px){
  .seat{
    height: 20px;
    width: 25px;
    margin: 7px;

  }
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

@media (max-width:740px) {
  .bodymain{
  display: block;
  }
  .main_right{
    margin-left: 0px;
  }
}

#movie{
  font-family:Lemonada;
  color: rgb(37, 8, 75);
  font-size: 1rem;
}

.btn{
  background:rgba(255, 255, 255, 0.473);
  margin: 0 auto;
  display: block;
}