<!-- Header Layout -->
<head>
    <title>Nodemy Cinema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Font CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Main CSS -->   
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>