<!-- Navigation Bar layout -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NODEMY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            <a href="#booking-block" class="nav-item nav-link">ĐẶT VÉ</a>
            <a href="#movie-block" class="nav-item nav-link">PHIM</a>
            <a href="#news-block" class="nav-item nav-link">TIN TỨC</a>
        </div>
        <form class="form-inline mx-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm phim...">
        </form>
        <div class="navbar-nav navbar-right">
            <a href="/auth/local/login" class="nav-item nav-link">
                <i class="fa fa-user-circle fa-lg"></i>
                <span> ĐĂNG NHẬP</span>
            </a>
        </div>
    </div>
</nav>